@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
}

/*
.header-section {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 12px 80px;
  align-items: center;

  .logo-wrapper {
    width: 150px;
    margin-right: 88px;
    flex-shrink: 0;

    .logo {
      display: block;
      width: 100%;
    }
  }
  .nav-bar {
    flex-shrink: 1;
    ul {
      display: flex;

      .link {
        text-decoration: none;
        color: #fff;
        font-size: 21px;
        font-weight: 600;
        margin-left: 24px;
      }
    }
  }
}
*/
.header-section {
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 13px 6.5px;
  z-index: 2;
}

.header-section .logo-wrapper {
  width: 130px;
  margin-left: 20px;
}

.header-section .nav-bar {
  display: none;
}

.main-container {
  width: 100%;
  color: #fff;
}

.main-container .hero-section {
  background-image: url("../img/black-summer-img.png");
  background-size: cover;
  overflow: hidden;
  padding: 72px 13px 38px;
  position: relative;
  width: 100%;
  margin-top: 60px;
}

.main-container .hero-section .hero-header {
  display: none;
}

.main-container .hero-section .hero-body .hero-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
}

.main-container .hero-section .hero-body h2 {
  font-size: 16px;
}

.main-container .hero-section .hero-body p {
  display: none;
}

.main-container .hero-section .hero-body .hero-button {
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  padding: 12px 22px;
  margin: 13px 7px 13px 0;
  border-radius: 3px;
  font-size: 16px;
}

.main-container .hero-section .hero-body .hero-button:first-of-type {
  background-color: #ff0000;
}

.main-container .hero-section .hero-body .hero-button:last-of-type {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-container .series-section {
  margin-left: 13px;
}

.main-container .series-section .series-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 13px;
}

.main-container .series-section .series-subsection {
  margin-bottom: 22px;
}

.main-container .series-section .series-subsection .series-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  overflow: auto;
}

.main-container .series-section .series-subsection .series-container img {
  width: 221px;
  height: auto;
  margin-right: 13px;
}
/*# sourceMappingURL=styles.css.map */